<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-1-mobile.png"
              alt="Tube Watch S42 Date Steel With Black Case"
            />
          </div>
          <p class="card-text">Tube Watch S42 Date Steel With Black Case</p>
          <span class="card-price">€395</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-2-mobile.png"
              alt="Avondale Watch Police For Men"
            />
          </div>
          <p class="card-text">Avondale Watch Police For Men</p>
          <span class="card-price">€800</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-3-mobile.png"
              alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
            />
          </div>
          <p class="card-text">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="card-price">€600</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-4-mobile.png"
              alt="Diver 300M Co-Axial Master Chronometer"
            />
          </div>
          <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="card-price">€1400</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-5-mobile.png"
              alt="Taman Watch By Police For Men"
            />
          </div>
          <p class="card-text">Taman Watch By Police For Men</p>
          <span class="card-price">€500</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-6-mobile.png"
              alt="Malawi Watch Police For Men"
            />
          </div>
          <p class="card-text">Malawi Watch Police For Men</p>
          <span class="card-price">€555</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-7-mobile.png"
              alt="Diver 300M Co-Axial Master Chronometer"
            />
          </div>
          <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="card-price">€1200</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="275"
              height="274"
              src="./img/catalog.images/clock-8-mobile.png"
              alt="Greenlane Watch By Police For Men"
            />
          </div>
          <p class="card-text">Greenlane Watch By Police For Men</p>
          <span class="card-price">€1000</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="276"
              height="274"
              src="./img/catalog.images/clock-9-desktop.png"
              alt="Squardrc 5402 Chrono"
            />
          </div>
          <p class="card-text">Squardrc 5402 Chrono</p>
          <span class="card-price">€359</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="276"
              height="274"
              src="./img/catalog.images/clock-10-desktop.png"
              alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
            />
          </div>
          <p class="card-text">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="card-price">€400</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#" class="card-link">
          <div class="img-wrap">
            <img
              width="276"
              height="274"
              src="./img/catalog.images/clock-11-desktop.png"
              alt="Citizen-watch"
            />
          </div>
          <p class="card-text">Citizen</p>
          <span class="card-price">€519</span>
        </a>
      </li>
      <li class="catalog-list-item hidden" class="card-link">
        <a href="#">
          <div class="img-wrap">
            <img
              width="276"
              height="274"
              src="./img/catalog.images/clock-12-desktop.png"
              alt="Armani Exchange Watch"
            />
          </div>
          <p class="card-text">Armani Exchange</p>
          <span class="card-price">€400</span>
        </a>
      </li>
    </ul>
    <button class="modal-open-btn" type="button">Buy now</button>
  </div>
</section>
