<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-1-desktop.png    1x,
                        ./img/catalog.images/clock-1-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-1-tablet.png    1x,
                        ./img/catalog.images/clock-1-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-1-mobile.png    1x,
                        ./img/catalog.images/clock-1-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-1-mobile.png"
                      alt="Tube Watch S42 Date Steel With Black Case"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Tube Watch S42 Date Steel With Black...</p>
          <span class="card-price">€395</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-2-desktop.png    1x,
                        ./img/catalog.images/clock-2-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-2-tablet.png    1x,
                        ./img/catalog.images/clock-2-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-2-mobile.png    1x,
                        ./img/catalog.images/clock-2-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-2-mobile.png"
                      alt="Avondale Watch Police For Men"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Avondale Watch Police For Men</p>
          <span class="card-price">€800</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-3-desktop.png    1x,
                        ./img/catalog.images/clock-3-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-3-tablet.png    1x,
                        ./img/catalog.images/clock-3-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-3-mobile.png    1x,
                        ./img/catalog.images/clock-3-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-3-mobile.png"
                      alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Diver 300M Co‑Axial Master Chronomete...</p>
          <span class="card-price">€600</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-4-desktop.png    1x,
                        ./img/catalog.images/clock-4-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-4-tablet.png    1x,
                        ./img/catalog.images/clock-4-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-4-mobile.png    1x,
                        ./img/catalog.images/clock-4-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-4-mobile.png"
                      alt="Diver 300M Co-Axial Master Chronometer"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="card-price">€1400</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-5-desktop.png    1x,
                        ./img/catalog.images/clock-5-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-5-tablet.png    1x,
                        ./img/catalog.images/clock-5-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-5-mobile.png    1x,
                        ./img/catalog.images/clock-5-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-5-mobile.png"
                      alt="Taman Watch By Police For Men"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Taman Watch By Police For Men</p>
          <span class="card-price">€500</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-6-desktop.png    1x,
                        ./img/catalog.images/clock-6-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-6-tablet.png    1x,
                        ./img/catalog.images/clock-6-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-6-mobile.png    1x,
                        ./img/catalog.images/clock-6-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-6-mobile.png"
                      alt="Malawi Watch Police For Men"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Malawi Watch Police For Men</p>
          <span class="card-price">€555</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-7-desktop.png    1x,
                        ./img/catalog.images/clock-7-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-7-tablet.png    1x,
                        ./img/catalog.images/clock-7-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-7-mobile.png    1x,
                        ./img/catalog.images/clock-7-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-7-mobile.png"
                      alt="Diver 300M Co-Axial Master Chronometer"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
          <span class="card-price">€1200</span>
        </a>
      </li>
      <li class="catalog-list-item">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-8-desktop.png    1x,
                        ./img/catalog.images/clock-8-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-8-tablet.png    1x,
                        ./img/catalog.images/clock-8-tablet@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/catalog.images/clock-8-mobile.png    1x,
                        ./img/catalog.images/clock-8-mobile@2x.png 2x
                      "
                      media="(min-width: 320px)"
                    />
                    <img
                      width="275"
                      height="274"
                      src="./img/catalog.images/clock-8-mobile.png"
                      alt="Greenlane Watch By Police For Men"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Greenlane Watch By Police For Men</p>
          <span class="card-price">€1000</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-9-desktop.png    1x,
                        ./img/catalog.images/clock-9-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <img
                      width="276"
                      height="274"
                      src="./img/catalog.images/clock-9-desktop.png"
                      alt="Squardrc 5402 Chrono"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Squardrc 5402 Chrono</p>
          <span class="card-price">€359</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-10-desktop.png    1x,
                        ./img/catalog.images/clock-10-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <img
                      width="276"
                      height="274"
                      src="./img/catalog.images/clock-10-desktop.png"
                      alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Diver 300M Co‑Axial Master...</p>
          <span class="card-price">€400</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-11-desktop.png    1x,
                        ./img/catalog.images/clock-11-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <img
                      width="276"
                      height="274"
                      src="./img/catalog.images/clock-11-desktop.png"
                      alt="Citizen-watch"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Citizen</p>
          <span class="card-price">€519</span>
        </a>
      </li>
      <li class="catalog-list-item hidden">
        <a href="#no_scroll" class="card-link">
          <div class="card-scene">
            <div class="card">
              <div class="card-front">
                <div class="img-wrap">
                  <picture>
                    <source
                      srcset="
                        ./img/catalog.images/clock-12-desktop.png    1x,
                        ./img/catalog.images/clock-12-desktop@2x.png 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <img
                      width="276"
                      height="274"
                      src="./img/catalog.images/clock-12-desktop.png"
                      alt="Armani Exchange Watch"
                    />
                  </picture>
                </div>
              </div>
              <div class="card-back">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text top">
                  Richly detailed with an <br />
                  understated design - the Police <br />
                  Men’s Greenlane watch.
                </p>
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <p class="overlay-text bottom">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel <br />
                  Band Material: Metal <br />Case Material: Metal Features:
                  Multifunction Water Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <p class="card-text">Armani Exchange</p>
          <span class="card-price">€400</span>
        </a>
      </li>
    </ul>
    <button class="modal-open-btn" type="button" data-modal-open>
      Buy now
    </button>
  </div>
</section>
