<div class="footer-container container">
  <div class="footer-container-content">
   <div class="footer-container-help">
     <div class="footer-connect">
      <a href="" class="footer-logo">logo</a>
      <address class="footer-adress">
        <ul class="footer-list-adress">
          <li class="footer-item-tel">
            <a href="" class="footer-link-tel">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-item-city">
            <address class="footer-text-city">
              1678 S. Pioneer Road<br />Salt Lake City<br />UT 84104
            </address>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-menu">
      <ul class="footer-list-menu">
        <li class="footer-item-menu">
          <a href="" class="footer-link-menu"></a>About us
        </li>
        <li class="footer-item-menu">
          <a href="" class="footer-link-menu"></a>Catalog
        </li>
        <li class="footer-item-menu">
          <a href="" class="footer-link-menu"></a>Sale
        </li>
      </ul>
    </div>
   </div>
    <div class="footer-info">
      <ul class="footer-list-info">
        <li class="footer-item-info">
          <a href="" class="footer-link-info">
            <svg width="24" height="24" class="footer-svg-info">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-info">
          <a href="" class="footer-link-info">
            <svg width="24" height="24" class="footer-svg-info">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-info">
          <a href="" class="footer-link-info">
            <svg width="24" height="24" class="footer-svg-info">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-text">
    <p class="footer-text-spot">©2022 The Watch Spot. All rights reserved.</p>
    <p class="footer-text-service">
      <a href="" class="footer-text-link">Privacy Policy</a>
      <a href="" class="footer-text-link">Terms of Service</a>
    </p>
  </div>
</div>
