<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>

    <div class="pictures">
      <div class="swiper">
        <picture>
          <source
            srcset="
              ./img/hero-section/swiper-image-tabl-des.jpg    1x,
              ./img/hero-section/swiper-image-tabl-des@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/hero-section/swiper-image-tabl-des.jpg    1x,
              ./img/hero-section/swiper-image-tabl-des@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/hero-section/swiper-image-mobile.jpg    1x,
              ./img/hero-section/swiper-image-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/hero-section/swiper-image-mobile.jpg"
            alt="Watch"
            class="swiper-image"
          />
        </picture>

        <picture>
          <source
            srcset="./img/hero-section/swiper-blocks-tabl-des.png"
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/hero-section/swiper-blocks-mobile.png"
            media="(max-width: 767px)"
          />

          <img
            src="./img/hero-section/swiper-blocks-mobile.png"
            alt="Swiper control"
            class="swiper-control"
          />
        </picture>
      </div>

      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <picture>
        <source
          srcset="
            ./img/hero-section/hero-image-desktop.jpg    1x,
            ./img/hero-section/hero-image-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/hero-section/hero-image-tablet.jpg    1x,
            ./img/hero-section/hero-image-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/hero-section/hero-image-mobile.jpg    1x,
            ./img/hero-section/hero-image-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./img/hero-section/hero-image-mobile.jpg"
          alt="Watch on hand"
          class="hero-main-image"
        />
      </picture>
    </div>
  </div>
</section>
