<section class="new-products">
  <div class="container">
    <h2 class="title-new-products">New watches</h2>
    <p class="text-new-products">Green And Bronze—The Match Made In Heaven</p>
    <ul class="products-list">
      <li class="product-item">
        <picture>
          <source
            srcset="
              ./img/new-watches-desc-1x.jpg 1x,
              ./img/new-watches-desc-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/new-watches-tab-1x.jpg 1x,
              ./img/new-watches-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watches-mob-1x.jpg 1x,
              ./img/new-watches-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="product-image"
            src="./img/new-watches-desc-1x.jpg"
            alt="watch"
            width="576"
          />
        </picture>
      </li>

      <li class="product-item">
        <picture>
          <source
            srcset="
              ./img/new-watches2-desc-1x.jpg 1x,
              ./img/new-watches2-desc-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/new-watches2-tab-1x.jpg 1x,
              ./img/new-watches2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watches2-mob-1x.jpg 1x,
              ./img/new-watches2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="product-image"
            src="./img/new-watches2-desc-1x.jpg"
            alt="watch"
            width="576"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
