.about-section {
  padding-top: 40px;
  background-color: #EFEFEF;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.about-container-text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--title-text-color);
}

.about-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--section-text-color);
  text-align: left;
}

@media screen and (min-width: 375px) {
  .about-text {
    width: 335px;
  }

  .about-gif {
    width: 335px;
    height: 365px;
  }
}

@media screen and (max-width: 375px) {
  .about-gif {
    width: 335px;
    height: 365px;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 64px;
  }

  .about-title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .about-container-text {
    display: flex;
    gap: 20px;
  }

  .about-text {
    width: 220px;
  }

  .about-text.paragraf {
    width: 250px;
  }

  .about-gif {
    width: 704px;
    height: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    padding-top: 80px;
  }

  .about-container {
    justify-content: flex-start;
    gap: 110px;
    margin-bottom: 40px;
  }

  .about-container-text {
    gap: 40px;
  }

  .about-text {
    width: 439px;
  }

  .about-text.paragraf {
    width: 380px;
  }

  .about-gif {
    width: 892px;
    height: 500px;
    margin-left: 284px;
  }
}
