.footer {
    background-color: var(--primary-bcg-color);
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-container-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
}

.footer-logo-img {
    width: 40px;
    height: 40px;
}

.footer-link-tel {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--primary-text-color);
    display: flex;
    margin-bottom: 20px;
}

.footer-text-city {
    display: flex;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
    margin-bottom: 40px;
}

.footer-menu {
    margin-left: auto;
}

.footer-list-menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-item-menu {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.footer-list-info {
    display: flex;
    gap: 14px;
}

.footer-link-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    justify-content: center;
}

.footer-svg-info {
    fill: #d0d0d0;
    width: 24px;
    height: 24px;
}

.footer-container-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-text-spot {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #C6CDD1;
    opacity: 0.9;
}

.footer-text-link:first-child {
    margin-right: 14px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .footer-container-content {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 152px;
        gap: 142px;
    }

    .footer-logo {
        transition: transform 0.2s ease-in-out;
    }

    .footer-logo:hover,
    .footer-logo:focus {
        transform: scale(1.2);
    }

    .footer-logo-img {
        width: 50px;
        height: 50px;
    }

    .footer-link-tel {
        font-size: 18px;
        line-height: 1.33;
        transition: transform 0.2s ease-in-out;
    }

    .footer-link-tel:hover,
    .footer-link-tel:focus {
        transform: scale(1.1);
    }

    .footer-text-city {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 0;
        transition: transform 0.2s ease-in-out;
    }

    .footer-text-city:hover,
    .footer-text-city:focus {
        transform: scale(1.1);
    }

    .footer-menu {
        margin: 0;
    }

    .footer-list-menu {
        gap: 18px;
    }

    .footer-item-menu {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
    }
 
    .footer-link-menu {
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

    .footer-link-menu:hover,
    .footer-link-menu:focus {
        transform: scale(1.2);
    }

    .footer-link-info {
        width: 44px;
        height: 44px;
    }

    .footer-svg-info {
        width: 28px;
        height: 28px;
    }

    .footer-list-info {
        gap: 16px;
    }

    .footer-link-info {
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),transform 0.2s ease-in-out;
    }

    .footer-link-info:hover,
    .footer-link-info:focus {
        border: 1px solid #FFFFFF;
        transform: scale(1.1);
    }

    .footer-container-text{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    
    .footer-text-spot {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.33;
    }

    .footer-text-link {
        display: inline-block;
        font-size: 14px;
        line-height: 1.33;
        transition: transform 0.2s ease-in-out;
    }

    .footer-text-link:first-child {
        margin-right: 18px;
    }

    .footer-text-link:hover,
    .footer-text-link:focus {
        transform: scale(1.1);
    }

}

@media screen and (min-width: 1280px) {
    .footer {
        padding-top: 104px;
        padding-bottom: 32px;
    }

    .footer-container-content {
        justify-content: space-between;
        margin-bottom: 174px;
        gap: 0;
    }
}