/* Logo animation */
.logo {
  position: relative;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 34px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-img {
  width: 14px;
  height: 14px;
}

.header-logo-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.header-list,
.header-tel {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.menu-open-icon {
  fill: #ffffff;
}

/** ------------- MOB MENU --------------- **/
.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 29px 20px 0px 20px;
  background-color: var(--primary-bcg-color);

  transform: translate(0, 0);
  transition: 0.5s;
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-mob-menu {
  display: flex;
  max-width: 375px;
}

.mob-menu.is-hidden {
  transform: translate(100%, 0);
}

.menu-close-btn {
  display: flex;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  stroke: #ffffff;
}

.mob-menu-list {
  margin-top: 200px;
  text-align: center;
}

.mob-menu-item {
  margin-bottom: 14px;
}

.mob-menu-item:last-child {
  margin-bottom: 0;
}

.mob-menu-link {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: 375px) {
  .modal-mob-menu {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .mob-menu {
    display: none;
  }

  .menu-open-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .header-logo-img {
    width: 19px;
    height: 19px;
  }

  .header-logo-text {
    font-size: 15px;
  }

  .header-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
    margin-left: 80px;
  }

  .header-item {
    display: flex;
  }

  .header-tel {
    display: block;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding: 18px 36px;
    background-color: #1e2827;
    border-radius: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-tel:hover {
    background-color: #1e2827;
    border: 1px solid #ffffff;
    border-radius: 8px;
  }

  .header-link {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    border: 1px solid transparent;
    border-radius: 8px;
    position: relative;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover {
    transform: scale(1.2);
  }

  .header-link::after {
    content: '';
    display: none;
  }

  .header-link:hover::after {
    content: '';

    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 20px;
    background-color: #ffffff;
    border-radius: 1px;
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover::after {
    display: block;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1280px) {
}
