:root {
  --primary-text-color: #ffffff;
  --title-text-color: #1e2827;
  --section-text-color: #141414;
  --accent-text-color: rgba(20, 20, 20, 0.5);
  --focus-text-color: rgba(255, 255, 255, 0.5);

  --primary-bcg-color: #1e2827;
  --hero-bcg-color: #141414;
}
